.container-inline-blocks
{
  display: block;
  word-spacing: -6px;
}

.inline-blocks
{
  display: inline-block;
  word-spacing: normal;
  vertical-align: top;
}
html,body {
    width: 100%;
    height: 100%;
}
body 
{
    
    padding: 0px;
    margin:0px;
    font-family: Arial, serif;
    line-height: 1.2em;
    font-size: 100%;
    overflow-x: hidden; 
}


/*
    PC / Laptop 
*/

#container
{
    max-width:100%;
    min-height: 100%;

}

/*
    header, divs en opmaak
*/

header
{
    width: 100%;
    height: 10vh;
    background: #313131;
}

#headerLogo h1
{
    margin-left: 2.5%;
    font-size: 40px;
    box-sizing: border-box;
}


#headerLogo
{
    width: 100%;
    height: auto;
    color: white;
}


/*
    main, divs en opmaak
*/

main
{
    width: 100%;
    height: 80vh;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;

}

#mainDetail
{
    width: 30%;
    height: auto;
    border:1px solid black;    
    margin: auto;
}



#LogoEnArrow
{
    width: 100%;
    height: auto;
    margin-top: 45px;
}

#Arrow
{
    width: 40%;
    height: auto;
    box-sizing: border-box;
    padding-right: 80px;
}

#Image
{
    width: 60%;
    height: auto;
    text-align: left;
    margin-top: 3%;
}


#Image img
{
    max-width: 40%;
    max-height: 40%;
}


#mainDetailInfoText
{
    width: 100%;
    height: auto;
    margin: 40px 0px 20px 0px;

}

#mainDetailInfoText li
{
    list-style: none;
    font-size: 180%;
    line-height: 130%;
}

i
{
    font-size: 250%;
}

a
{
    color: black;
}

.fa-edit

{
    font-size: 40px;
    margin-top: 20px;
    padding-right: 30px;
}

.fa-times
{
    font-size: 40px;
    padding-left: 30px;
}
/*
    Footer, divs en opmaak
*/
footer
{
    width: 100%;
    height: 10vh;
    background: #313131;  

}
 footer p {
    color: white;
    text-align: center;
    height: 100%;
    margin: 0;
    word-spacing: normal;
    box-sizing: border-box;
    padding-top: 28px;
 }

/*
    Tablet
*/

@media screen and (max-width:768px)
{


   
    #LogoEnArrow img
    {
        max-width: 40%;
        max-height: 40%;

    }

    #mainDetail 
    {
        width: 60%;
        font-size: 80%;
    }

    main
    {
    padding-top: 50px;
    }


}

/*
    Mobiel
*/
@media screen and (max-width: 480px)
{

    #LogoEnArrow img
    {
        max-width: 40%;
        max-height: 40%;

    }

    #mainDetail
    {
        width: 60%;
        font-size: 75%;
    }

    #Arrow 
    {
        padding-right: 40px;

    }

    main
    {
        padding-top: 80px;
    }

}