.container-inline-blocks
{
  display: block;
  word-spacing: -6px;
}

.inline-blocks
{
  display: inline-block;
  word-spacing: normal;
  vertical-align: top;
}

body 
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin:0px;
    font-family: Cambria, Georgia, serif;
    line-height: 1.2em;
    font-size: 100%;
    overflow-x: hidden; 
}


/*
    PC / Laptop 
*/

#container
{
    max-width:100%;
    height:auto; 
}

/*
    header, divs en opmaak
*/

header
{
    width: 100%;
    height: auto;
    background: #313131;
}

#headerLogo h1
{
    margin-left: 2.5%;
}


#headerLogo
{
    width: 100%;
    height: auto;
    color: white;
}


/*
    main, divs en opmaak
*/

main
{
    width: 100%;
    height: auto;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

#mainDetail
{
    width: 40%;
    height: auto;
    border:1px solid black;    
    margin: auto;
}



#LogoEnArrow
{
    width: 100%;
    height: auto;
}

#Arrow
{
    width: 40%;
    height: auto;
    text-align: center;
    margin-top: 8%;
}

#Image
{
    width: 60%;
    height: auto;
    text-align: left;
}


#Image img
{
    max-width: 40%;
    max-height: 40%;
}


#mainDetailInfoText
{
    width: 100%;
    height: auto;
}

#mainDetailInfoText li
{
    list-style: none;
}

/*
    Footer, divs en opmaak
*/
footer
{
    width: 100%;
    height: 62px;
    background: #313131;    
}


/*
    Tablet
*/

@media screen and (max-width:768px)
{

    body
    {        
        font-size: 110%;    
    }

    #container
    {
        width: 90%;
        height: auto;
       
    }

    #LogoEnArrow img
    {
        max-width: 40%;
        max-height: 40%;

    }
}

/*
    Mobiel
*/
@media screen and (max-width: 480px)
{
    body
	{
        font-size: 80%;

    }
    
    #container
    {
        width: 100%;
        height: auto;

    }

    #LogoEnArrow img
    {
        max-width: 40%;
        max-height: 40%;

    }

}