.container-inline-blocks
{
    display: block;
    word-spacing: -6px;
}

.inline-blocks
{
    display: inline-block;
    word-spacing: normal;
    vertical-align: top;
}

.displayblocks
{
    display: block;
}

html,body {
    width: 100%;
    height: 100%;
}

body
{
    padding: 0px;
    margin:0px;
    font-family: Arial, serif;
    line-height: 1.2em;
    font-size: 100%;
    overflow-x: hidden;
}

/*
    PC / Laptop
*/

#container
{
    max-width:100%;
    min-height:100%;
}

/*
-------------------------------------------------------------------------
                       Header divs en opmaak
-------------------------------------------------------------------------
*/

header
{
    width: 100%;
    height: 10vh;
    background: #313131;
}

#headerLogo
{
    width: 80%;
    height: auto;
    color: white;
}

#headerLogo h1
{
    margin-left: 2.5%;
    font-size: 50px;
}




/*
-------------------------------------------------------------------------
                        Main divs en opmaak
-------------------------------------------------------------------------
*/

main
{
    width: 100%;
    height: 80vh;
    word-spacing: -4.5px !important;
    font-size: 20px;
}

#mainListItems
{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px 0 30px 0;
    text-align: center;
}

#mainForm
{
    text-align: left;
}


#mainForm input
{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
}

.buttonStyle
{
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    color: grey;
}

/*
-------------------------------------------------------------------------
                        Footer divs en op
-------------------------------------------------------------------------
*/

footer
{
    width: 100%;
    height: 10vh;
    background: #313131;
}

 footer p {
    color: white;
    text-align: center;
    height: 100%;
    margin: 0;
    word-spacing: normal;
    box-sizing: border-box;
    padding-top: 28px;
 }

/*
-------------------------------------------------------------------------
                       Media query voor Tablet/Ipad
-------------------------------------------------------------------------
*/

@media screen and (max-width:768px)
{

    body {
        font-size: 110%;
    }

    #container {
        width: 100%;
        height: auto;
    }

    #headerLogo h1 {
        font-size: 200%;
    }

    main {
        word-spacing: -6px !important;
    }

    #mainListItems {
        width: 100%;
        height: auto;
    }

}









/*
-------------------------------------------------------------------------
                        Media query voor mobiel
-------------------------------------------------------------------------
*/
@media screen and (max-width: 480px)
{

    #container
    {
        width: 100%;
        height: auto;

    }


    #mainListItems
    {
        width: 100%;
        height: auto;
    }

}


